@font-face {
    font-family: "kajiro";
    src: url(/Rayban-landing_page/fonts/Kajiro-Bold.ttf) format('truetype');
}

*{
    margin: 0;
    padding: 0;
    font-family: "gilroy";
    box-sizing: border-box;
}

html,body{
    width: 100%;
    height: 100vh;
}

#main{
    width: 100%;
    height: 100vh;
    
}

#back{
    width: 100%;
    height: 100vh;
     
}

#back img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

#top{
    pointer-events: none;
    position: absolute;
    top: 0;
    left: 0 ;
    width: 100%;
    height: 100vh;

}

#workingarea{
    position: relative;
    margin: 0 auto;
    width: 100%;
    height: 100vh;
    max-width: 1600px;
   
}

#nav{ 
    pointer-events: all;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 40px 0;
}

#nav img{
    height: 50px;
}

#nleft, #nright{
    display: flex;
    align-items: center;
    gap: 40px;
}

#nav a{
    /* pointer event is set all on only a tag, must try and test on nav as a whole*/
    /* pointer-events: all;   */
    color: #fff;
    text-decoration: none;
    font-size: 0.9rem;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 1px;
}

#hero{
    position: absolute;
    top: 50%;
    left: 0;
    transform: translate(0, -50%);
    display: flex;
    justify-content: space-between;
    width: 100%;
    
    
}

#heroleft{
    min-width: 50%;
    
}

#heroleft .elem{
    position: relative;
    height: 9vw;
    
    overflow: hidden;
}

#heroleft .elem h1:nth-child(1){
    top: 0;
    
}

#heroleft .elem h1{
    position: absolute;
    top: 100%;
    left: 0;
    line-height: 0.9;
    font-family: "kajiro";
    color: #fff;
    font-weight: 100;
    font-size: 11vw;
}

#heroleft button{
    pointer-events: all;
    padding: 0.5vw 2vw;
    font-size: 2vw;
    font-family: "kajiro";
    letter-spacing: 4px;
    border-radius: 0;
    border: none;
    margin-top: 2vw;
}

#heroright{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    width: 25%;
    color: #fff;
    
}

#heroright p{
    
    font-size: 14px;
    font-weight: 400;
    text-align: right;
    line-height: 1.4;
}

#heroright #imagediv{
    width: 100%;
    height: 200px;
    margin-top: 20px;
    margin-bottom: 30px;
    background-image: url(https://images.unsplash.com/photo-1568782517100-09bf22d88c2d?auto=format&fit=crop&q=80&w=987&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
    background-size: cover;
    background-position: center;
}

#heroright p:nth-child(3){
    margin-bottom: 100px;
}